.techSectionWrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4%;
}
.techHeaderWrapper{
    margin-top: 5%;
    padding-left: 10%;
}
.techModelWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
    padding-top: 3%;
}
.techWrapper{
    height: 100px;
    width: 100px;
}

@media (max-width: 800px) {
    .techModelWrapper{
        gap: 1%;
        scale: 0.8;
    }
    .techWrapper{
        height: 80px;
        width: 80px;
    }
}