.aboutContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:end;
    padding-right: 10%;
}
.firstWrapper{
    display: inline-block;
    max-width: 40%;
    text-align: justify;
    margin-top: 10%;
}
.aboutText{
    margin-bottom: 1.5%;
}
.cardsContainer{
    margin-top: 5%;
    display: inline-flex;
    gap: 20px;
    justify-content: end;
}
.tiltWrapper {
    width: 100%;
}
.tiltCard{
    width: 100%;
    border-radius: 20px;
    padding: 2%;
    background: linear-gradient(to bottom, #8A2BE2, #0000FF);
    overflow: hidden;
    box-shadow: 0 6px 8px rgba(103, 58, 214, 0.5);
}
.tiltBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 6%;
    padding-bottom: 6%;
    min-height: 150px;
    background-color: #673AD6;
    border-radius: 20px;
}
.tiltIcon{
    width: 30px;
    height: 30px;
}

@media (max-width: 500px){
    .aboutContainer{
        padding-left: 5%;
        align-items: start;
    }
    .firstWrapper{
        max-width: 100%;
    }
    .cardsContainer{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        height: 20%;
        gap: 2%;
        display: flex;
        margin-top: 12%;
    }
    .tiltWrapper{
        width: 40%;
    }
    .tiltBox{
        min-height: 30px;
        height: 110px;
    }
}